/* Основные стили проекта */

.page {
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

/* ===== Общий класс для элементов с декоративным фоном ===== */
.title-decor {
  background-color: var(--decor-bg-color, var(--accent-color));
  color: var(--decor-text-color, #000);
  font-size: inherit;
}

/* ===== Описание в шапке ===== */
.header-description {
  font-weight: bold;
  margin: var(--decoration-gap);
  font: inherit;
}

/* Меню */
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

/* Декоративные уголки*/
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.main {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
  margin-bottom: 40px;
}

/* ===== Единый класс для всех секций (база) ===== */
.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.section_why {
  margin-top: var(--section-child-margin);
}

.section_what {
  margin-top: 50px;
}

.section_how {
  margin-top: 50px;
}

.advice_title_main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery_section {
  margin-top: 50px;
}

/* GALLERY вариант MOBILE */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}

/* ===== Футер ===== */
.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Шрифты */
.question {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  color: var(--question-color);
}

/* ===== Главные акцентные заголовки (шапка + футер) ===== */
.hero-headline {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 #FF0070;
  color: var(--title-color);
  margin-left: var(--header-margin-left);
}

.footer-headline {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--footer-title-color, var(--title-color));
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* ===== Заголовки карточек ===== */
.accent-title {
  font-size: inherit;
}

.gallery-title {
  margin-bottom: 10px;
}

.answer_text {
  color: var(--answer-text-color);
  font-weight: normal;
  line-height: 23.4px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.advice_title {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* ===== Ссылки===== */
.simple_link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.simple_link:focus {
  outline: none;
}

.simple_link:focus-visible {
  outline: 1px solid currentColor;
}

.simple_link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

/* ===== Кнопка REC ===== */
.rec_empty {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  width: 10px;
  top: calc(var(--decoration-gap) - 10px);
  right: calc(var(--decoration-gap) + 50px);
}

.rec_empty::before {
  content: 'REC';
  font-weight: normal;
  color: var(--rec-color);
  margin-top: 10px;
  margin-right: 15px;
}

.rec_empty::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* ===== Медиа-запросы (768 px)===== */
@media (width >= 768px) {
  .hero-headline,
  .footer-headline {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec_empty {
    --rec_empty_x_pos: 35px;
  }

  .header {
    margin-block-end: 40px;
    min-height: 1024px;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
  }

  .gallery__item {
    margin: 0;
  }

  .footer {
    min-height: 1024px;
  }

  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header-description {
    width: calc(50% - 20px);
    justify-self: right;
  }

  .question_why {
    padding-top: 20px;
  }

  .question_what {
    margin-top: 30px;
    width: 30%;
  }

  .question_how {
    margin-top: 20px;
  }

  .section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'question_why answers_why';
    gap: 20px;
  }

  .section_what {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .section_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'question_how answers_how';
    gap: 20px;
    margin-top: 61px;
  }

  .gallery_section {
    margin-top: 78px;
  }

  .gallery-title {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
}

/* ===== Медиа-запросы (1024px) ===== */
@media (width >= 1024px) {
  .rec_empty {
    --rec_empty_x_pos: 40px;
  }

  .header {
    margin-block-end: 0;
    min-height: 768px;
  }

  .footer {
    min-height: 768px;
  }

  .hero-headline {
    margin-left: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .section_why {
    margin-top: 40px;
    gap: 10px;
  }

  .answers_why {
    margin-top: 0px;
  }

  .section_what {
    margin-top: 50px;
  }

  .header-description {
    margin-top: 20px;
  }

  .header__theme-menu {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .title {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .question_what {
    display: block;
    width: 30%;
    grid-area: question_what;
  }

  .answers_what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-area: answers_what;
    margin-top: 77px;
  }

  .section_how {
    gap: 10px;
  }
}